.wrap {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}

.button {
  display: flex;
  color: rgba(216, 216, 216, 0.849);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;
  &:hover {
    color: rgb(233, 228, 228);
  }
}

.ITY {
  width: 36px;
  height: 36px;
  background: url(../../assets/img/favorite.png) 0px -40px / 240px 80px no-repeat transparent;
  overflow: hidden;
  position: relative;
  animation: 0.3s steps(5) 0s 1 normal none running gDgRmj;
}

.gVRblV {
  width: 36px;
  height: 36px;
  background: url(../../assets/img/favorite.png) 0px 0px / 240px 80px no-repeat transparent;
  overflow: hidden;
  position: relative;
  animation: 0.5s steps(5) 0s 1 normal none running hhxyjv;
}

@media screen and (max-width: 485px) {
  .wrap {
    flex-direction: column;
    margin-top: 60px;
  }
  .download {
    margin: 0 auto;
    margin-top: 10px;
  }
}