.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.button {
  display: flex;
  color: rgba(216, 216, 216, 0.849);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 10px;

  &:hover {
    color: rgb(233, 228, 228);
  }
}

.title {
  margin-right: 5px
}

.emptyState {
  margin-top: 20px;
}

.loadingContainer {
  min-height: 200px;
  min-width: 200px;
}

@media screen and (max-width: 485px) {
  .wrap {
    flex-direction: column;
    margin-top: 60px;
  }

  .download {
    margin: 10px auto 0;
  }
}