.header {
  position: absolute;
  top: 0;
  width: 100%;
}

.container {
  display: flex;
  max-width: 1080px;
  background-color: black;
}

.logo {
  cursor: pointer;
}

.firstHeaderPosition {
  position: absolute;
  top: 0;
  z-index: 499;
}

.secondHeaderPosition {
  z-index: 499;
  position: fixed;
  top: -50px;
}

.firstLogoPosition {
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.secondLogoPosition {
  transform: translate3d(0px, 50px, 0px);
  transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}

.fakeDiv {
  height: 110px;
  clear: both;
}

@media screen and (max-width: 830px) {
  .header div {
    justify-content: space-between;
  }

  .fakeDiv {
    height: 55px;
  }
}

@media screen and (max-width: 500px) {
  .secondLogoPosition {
    transform: translate3d(0px, 0px, 0px);
  }
}

@media screen and (max-width: 485px) {
  .header {
    flex-direction: column;
  }

  .logo {
    transform: translate(-10px) scale(0.8);
  }
}

@media screen and (max-width: 300px) {
  .logo {
    transform: translate(-20px) scale(0.65);
  }
}
